
.HeaderContainer{
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: rgb(99, 99, 99);
    background-color: white;
}

.HeaderLeft{
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
}
.title{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.title svg{
    font-size: 1.5em;
    color: var(--primary-color);
}
.title span{
    padding:0px 5px;
}

.menu{
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    padding: 10px;
    transition: 0.3s;
}

.menu li:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.HeaderRight{
    flex-basis: 30%;
    text-align: end;
}

.button{
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.secondary{
    background-color: transparent;
    color:var(--primary-color);
    border: 1px solid lightgrey;
}

.primary{
    border: none;
    background-color: var(--primary-color);
    color: white;
}